DATABASE_URL=postgresql+psycopg://postgres:CHANGE_ME@localhost:5433/TrainAttendantSimulator
SECRET_KEY=CHANGE_ME
ACCESS_TOKEN_EXPIRE_MINUTES=720
JWT_ALGORITHM=HS256
CORS_ALLOW_ORIGINS=*
CORS_ORIGIN_REGEX=
CORS_ALLOW_METHODS=GET,POST,OPTIONS
CORS_ALLOW_HEADERS=Content-Type,Authorization

POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=TrainAttendantSimulator